certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
checkdmarc==5.14.1
cryptography==46.0.5
dnspython==2.8.0
expiringdict==1.2.2
idna==3.11
importlib-resources==6.5.2
pem==23.1.0
publicsuffixlist==1.0.2.20260226
pycparser==3.0
pyleri==1.5.0
pymilter==1.0.5
pyopenssl==25.3.0
requests==2.32.5
timeout-decorator==0.5.0
urllib3==2.6.3
xmltodict==1.0.4
